name: clingo

on:
  push:
    branches:
      - master
    tags:        
      - v0.**
  pull_request:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: clingo-${{ github.ref }}
  cancel-in-progress: true

jobs:
  manylinux1:
    runs-on: self-hosted
    outputs:
      spack_manylinux_tag: ${{ fromJSON(steps.docker_meta.outputs.json).tags[0] }}
    env:
      PLATFORM: x86_64
      COMMIT_SHA: ${{ github.sha }}

    steps:
      - uses: actions/checkout@v3

      # Setup tags to be used for docker images
      - uses: docker/metadata-action@v3
        id: docker_meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/clingo_manylinux1

      # Login to Github Packages
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-buildx-action@v1

      # Build and eventually push to registry
      - uses: docker/build-push-action@v2
        with:
          file: ./clingo/Dockerfile.manylinux1
          platforms: linux/amd64
          pull: ${{ github.event_name == 'pull_request' }}
          # Self-hosted runners use the local cache
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
          cache-from: type=local,src=/tmp/.buildx-cache-clingo-manylinux1
          cache-to: type=local,dest=/tmp/.buildx-cache-clingo-manylinux1,mode=max
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

  upload-manylinux1:
    runs-on: ubuntu-latest
    needs: [ manylinux1 ]
    env:
      SPACK_MANYLINUX1_TAG: ${{ needs.manylinux1.outputs.spack_manylinux_tag }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          . ./clingo/scripts/copy_mirror_manylinux1.sh
      - uses: actions/upload-artifact@v3
        with:
          name: clingo_binary_mirror
          path: binary-mirror

  macos_clingo:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ["3.5", "3.6", "3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Prepare Spack
        run: |
          pip install --upgrade pip
          brew install bison
          export PATH="/usr/local/opt/bison/bin:$PATH"
          git clone https://github.com/spack/spack.git spack-src
          . spack-src/share/spack/setup-env.sh
          spack external find --not-buildable cmake bison
      - name: Install clingo
        run: |
          . spack-src/share/spack/setup-env.sh
          spack python clingo/scripts/install_clingo.py
          mkdir -p binary-mirror
          spack buildcache create -d $PWD/binary-mirror -a -u -f clingo-bootstrap
      - uses: actions/upload-artifact@v3
        with:
          name: clingo_binary_mirror
          path: binary-mirror

  manylinux2014:
    runs-on: self-hosted
    outputs:
      spack_manylinux_tag: ${{ fromJSON(steps.docker_meta.outputs.json).tags[0] }}
    permissions:
      packages: write

    steps:
      - uses: actions/checkout@v3

      # Setup tags to be used for docker images
      - uses: docker/metadata-action@v3
        id: docker_meta
        with:
          images: ghcr.io/${{ github.repository_owner }}/clingo_manylinux2014

      # Login to Github Packages
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v2
        id: qemu
        with:
          platforms: linux/ppc64le,linux/arm64

      - uses: docker/setup-buildx-action@v1

      # Build and eventually push to registry
      - uses: docker/build-push-action@v2
        with:
          file: ./clingo/Dockerfile.manylinux2014
          platforms: linux/arm64,linux/ppc64le,linux/amd64
          # Self-hosted runners use the local cache
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
          cache-from: type=local,src=/tmp/.buildx-cache-clingo-manylinux2014
          cache-to: type=local,dest=/tmp/.buildx-cache-clingo-manylinux2014,mode=max
          pull: ${{ github.event_name == 'pull_request' }}
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

  upload-manylinux2014:
    runs-on: ubuntu-latest
    needs: [ manylinux2014 ]
    env:
      SPACK_MANYLINUX2014_TAG: ${{ needs.manylinux2014.outputs.spack_manylinux_tag }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          . ./clingo/scripts/copy_mirror_manylinux2014.sh
      - uses: actions/upload-artifact@v3
        with:
          name: clingo_binary_mirror
          path: |
            binary-mirror

  clingo_json:
    runs-on: ubuntu-latest
    needs: [ upload-manylinux2014, upload-manylinux1, macos_clingo ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - uses: actions/download-artifact@v3
        with:
          name: clingo_binary_mirror
      - run: |
          pip install ruamel.yaml
          python clingo/scripts/clingo_json.py
      - uses: actions/upload-artifact@v3
        with:
          name: clingo_manifest
          path: |
            clingo.json
